{% extends 'reddit_clone/base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <small>
        <a href="{% url 'register' %}">Register</a> | 
        <a href="{% url 'password_reset' %}">Forgotten Your Password?</a>
    </small>
    <br>
    <input type="submit" value="Login" class="btn btn-outline-success">

</form>


{% endblock %}