{% extends 'reddit_clone/base.html' %}


{% block title  %} {{ post.title }} | {{ block.super }} {% endblock %}

{% block content %}

<h3>{{ post.title }}</h3>
<small>Created by: {{ post.author }}</small>
<hr>
<p>{{ post.body }}</p>

{{ total_votes }}

{% if request.user.is_authenticated %}
    <form action="{% url 'upvote' post.id%}" method="post">
      {% csrf_token %}
      <input type="submit" value="Vote up">
    </form>

    <hr>
      <h4>This post has score of {{ post.votes }} votes!</h4>
    <hr>

    <form action="{% url 'downvote' post.id%}" method="post">
      {% csrf_token %}
      <input type="submit" value="Vote down">
    </form>
{% endif %}

{% if post.author == request.user%}

<div class="section-1" style="float: right;">
    <a href="{% url 'reddit_clone:post_edit' id=post.id %}">
      <button type="button" class="btn btn-outline-success">Edit</button>
    </a>
    <a href="{% url 'reddit_clone:post_delete' id=post.id%}" id="delete">
      <button type="button" class="btn btn-danger">Delete</button>
    </a>
</div>
{% endif %}



<br><br>
<hr>


<!--here goes commenting on a post-->
<div class="main-comment-section">
  <div class="container-fluid mt-2">
    <div class="form-group row">
      <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        {% if request.user.is_authenticated  %}
          <input type="submit" value="Submit" class="btn btn-outline-success">
        {% else %}
          <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
        {% endif %}
      
      </form>
    </div>
  </div>
  <!--here counts comments on post-->
  {{ comments.count }} Comment {{ comments|pluralize }}
  <!--here loops through comments on post-->
  {% for comment in comments %}
    <blockquote class="blockquote">
      <p class="mb-0"> <small>{{ comment.content }}</small></p>
      <footer class="blockquote-footer"><small>By <cite title="Source Title">{{ comment.user|capfirst }}</cite></small>
        <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm ml-2">Reply</button>
        {% if comment.user_id == request.user.id %}
        <a href="{% url 'reddit_clone:comment_edit' id=comment.id %}">
          <button type="button" class="btn btn-outline-success btn-sm ml-2">Edit</button>
        </a>
        <a href="{% url 'reddit_clone:comment_delete' id=comment.id%}" id="delete1">
            <button type="button" class="btn btn-danger btn-sm ml-2">Delete</button>
        </a>
        {% endif %}

      </footer>
    </blockquote>

    <div class="replied-comments container mt-2" style="display: none;">
      <!--here loops through replys on post-->
      {% for reply in comment.replies.all %}
      <blockquote class="blockquote">
        <p class="mb-0"> <small>{{ reply.content }}</small></p>
        <footer class="blockquote-footer"><small>By <cite title="Source Title">{{ reply.user|capfirst }}</cite></small>
          <button type="button" name="button" class="reply-btn2 btn btn-outline-dark btn-sm ml-2">Reply</button>
          {% if comment.user_id == request.user.id %}
            {% if comment.reply_id != NULL %}
            <a href="{% url 'reddit_clone:comment_edit' id=comment.reply_id %}">
              <button type="button" class="btn btn-outline-success btn-sm ml-2">Edit</button>
            </a>
            <a href="{% url 'reddit_clone:comment_delete' id=comment.reply_id%}" id="delete1">
              <button type="button" class="btn btn-danger btn-sm ml-2">Delete</button>
            </a>
            {% endif %}
          {% endif %}
        </footer>
      </blockquote>

      {% endfor %}
      <!-- commenting form || also used for replying-->
      <div class="form-group row">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="comment_id" value="{{ comment.id }}">
          {{ comment_form.as_p }}
          {% if request.user.is_authenticated  %}
            <input type="submit" value="Submit" class="btn btn-outline-success">
          {% else %}
            <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
          {% endif %}
        </form>
      </div>

    </div>
  {% endfor %}

</div>




{% endblock %}