{% extends 'reddit_clone/base.html' %}

{% block title  %} Welcome to {{ block.super }} {% endblock %}

{% block content %}

<div class="row">
    {% for p in posts%}
    <div class="col-md-6">
        <div class="img-thumbnail">
            <a href="{{ p.get_absolute_url }}">{{ p.title }}</a><small style="float:right">{{ p.created }}</small><br>
            Author: {{ p.author }}
            <br>
            {{ p.body }}
        </div>
        <br>
    </div>
    {% endfor %}
<ul class="pagination">
    {% if posts.has_previous %}
        <li class="page-item ">
            <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;</a>
        </li>
    {% endif %}


    {% for p in posts.paginator.page_range %}
        {% if posts.number == p %}
            <li class="page-item active">
                <a href="?page={{ p }}" class="page-link">{{ p }}</a>
            </li>
        {% else %}
            <li class="page-item">
                <a href="?page={{ p }}" class="page-link">{{ p }}</a>
            </li>
        {% endif %}

    {% endfor %}
    {% if posts.has_next %}
    <li class="page-item ">
        <a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a>
    </li>
    {% endif %}


</ul>

</div>

{% endblock %}